<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about_test.css')}}"/>
</head>
<body> 
    <div class=e79_266>
    <div class="e79_267"></div>
    <div class="e79_345"></div>
    <div class="e79_269"></div>
    <div class=e79_271>
    <div class="e79_272"></div>
    <div class=e79_273>
        <div class="e79_274" style="background-image: url('{{ user.photo }}')"></div>
    </div>
    </div><span  class="e79_275"> {{user.name}} </span><span  class="e79_277">About</span> <a href= "/">  <span  class="e79_285"> HAVERFRIENDS</span> </a>
    <div class=e79_314>
    <div class="e79_315"></div>
    <label for="options" class="e79_316"> &#9660; </label>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
    </div>
    <span  class="e79_344">Haverfriends is a web application that matches people at TriCo Colleges to have a conversation with each other. 
        The matching will be based on how similar your interests with the other person's are. You will get 3 matches the first time you log into the app. 
        You will get 3 extra matches every Monday and every Thursday. 
        If you do not want to get any more match, you can go to "Edit My Profile" and uncheck the box "Do you want to be available for matching?"
    </span>
        <div class=e79_356> 
        <div class="e79_357"></div><a href="/"> <span  class="e79_358">BACK </span> </a>
        </div>
    </div>
</body>

