<html> 
    <head> 
        <title> Chat room </title>
    </head>
    <body> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js"></script>
        <script id="MainScript"> 
        var firebaseConfig = {
            apiKey: "AIzaSyCe_db6Qj1jHISdWZigvlBAXzLZNzfzFKs",
            authDomain: "haverfriends-9b932.firebaseapp.com",
            projectId: "haverfriends-9b932",
            storageBucket: "haverfriends-9b932.appspot.com",
            messagingSenderId: "68391205434",
            appId: "1:68391205434:web:48456413b5f62da16b9303",
            measurementId: "G-Z8WYEKVQRH"
          };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig) 
        let db = firebase.firestore(); 
        $(document).ready(function() { 
            const chatID = "{{ chatID }}"
            console.log(chatID)
            $('#send').on('click', function() {
                console.log("success")
                var message = $('#message-input').val()
                $('#message-input').val('');
                console.log("success")
                $.ajax({
                        type : "POST",
                        url : window.location.origin + "/chat/" + chatID,
                        data: JSON.stringify({"msg": message}),
                        dataType:"json",
                        contentType: 'application/json;charset=UTF-8',
                        success: function() {
                            console.log("Success")
                        }
                    });
        });
        var initState = true;
        
        db.collection("chats").doc(chatID).onSnapshot(function(doc) {
            if (initState) { 
                initState=false
            }
            else { 
            msg_doc= doc.data()['messages'][doc.data()['messages'].length-1];
            
            complete_message=msg_doc['time'].toString() + " " + msg_doc['senderID'] + ": " + msg_doc['text']
            $("#message-display").append(complete_message)
            $("#message-display").append('<br>')
            }
        });
        });
        </script>

        <div> Welcome to chat! </div>
        <div id="message-display" white-space: pre-line> 
        {% for message in messages_array %}
        <p> {{message}} </p>
        {% endfor %}
        </div>
        <input type="text" id="message-input">
        <button id="send"> Send </button>
    </body>
</html>