{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}"/>
<div class="container" style="width: 600px; margin: 30px auto;">
    <img id="profilePicPreview" style="width:300px; margin: 20px auto; display: block" src="{{ userInfo['photo'] }}"/>
    {{ wtf.quick_form(form) }}
    <script>
        document.querySelector("input#profilePic").onchange = function(){
            var reader = new FileReader()
            reader.onload = function(e) {
              document.querySelector("#profilePicPreview").src = e.target.result
              document.querySelector("#profilePicBase64").value = e.target.result
            }
            reader.readAsDataURL(document.querySelector("input#profilePic").files[0])
        }
    </script>
</div>
{% endblock %}
